
@model List<Expense.Application.ModelViews.UserDto>

@{
    ViewData["Title"] = "User List";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int i = 1;
}

<div class="pagetitle">
    <h1>Security</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Security</a></li>
            <li class="breadcrumb-item active">User List</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<div class="col-12">
    <div class="card recent-sales overflow-auto">

        <div class="card-body">
            <h5 class="card-title">Recent User <span>| </span> <a class="btn btn-primary btn-sm" href="@Url.Action("AddUser","Security",new{Area="Admin"})"><i class="bi bi-plus"></i> Add New User</a> </h5>

            <table class="table table-borderless datatable">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">UserId</th>
                        <th scope="col">Image</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Contact</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model)
                    {
                        <tr>
                            <th scope="row">@i</th>
                            <td>@item.UserId</td>
                            <td>@item.UserName</td>
                            <td>@item.UserEmail</td>
                            <td>@item.UserEmail</td>
                            <td>@item.UserPhone</td>
                            <td><span class="badge bg-success">Active</span></td>
                            <td></td>
                        </tr>
                    }
                   
                </tbody>
            </table>

        </div>

    </div>
</div><!-- End Recent Sales -->